html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

scrollbar {
  width: 8px;
  height: 8px;
}

scrollbar-track {
  background: #f1f1f1;
}

scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

scrollbar-thumb:hover {
  background: #555;
}

body {
  margin: 0;
  height: 100%;
}

h3 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin-left: 15px;
}

.global-wrapper {
  padding: 60px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  align-items: center;
  text-align: left;
  min-height: 100vh;
}

.caption {
  color: #309FE0;
  font-size: 15px;
  display: block;
}

.title {
  font-size: 20px;
  color: #1e1e1e;
}

.body {
  color: #BBBBBB;
  font-size: 13px;
}

.Home {
  min-width: 100vh;
  background: #FAFAFA;
}

.home-content {
  justify-content: space-between;
}

.avatar {
  width: 350px;
  height: 350px;
  border-radius: 230px;
}

.hero-title {
  color: #1e1e1e;
  font-weight: bold;
  font-size: 40px;
}

.hero-body {
  color: #BBBBBB;
  font-weight: bold;
  font-size: 20px;
}

.skill {
  object-fit: contain;
  width: 35px;
  height: 35px;
}

.skill-wrapper {
  display: inline-flex;
  margin: 0 10px 30px 0;
  padding: 15px;
  background-color: white;
  border-radius: 110px;
  box-shadow: 0px 0px 5px 0px rgba(30,30,30,1);
  justify-content: center;
}

.skill-label {
  position: absolute;
  bottom: -35px;
  font-size: 12px;
  font-weight: bold;
  color: #5c5c5c;
}

.about-body {
  margin-bottom: 20px;
}

.Projects {
  background-color: #FAFAFA;
}

.projects-title {
  margin-bottom: 20px;
}

.contact-title {
  margin-bottom: 20px;
}

.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin-top: auto;
  color: #1e1e1e;
  box-shadow: 0px -4px 17px -5px rgba(0,0,0,0.75);
}

@media (max-width: 600px) {
  .Home {
    min-width: auto;
  }

  .content {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .avatar {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
  }

  .skill-wrapper {
    margin: 0 10px 20px 0;
    padding: 10px;
  }

  .skill-label {
    bottom: -25px;
    font-size: 10px;
  }

  .content-wrapper {
    text-align: left;
  }
}